.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mod_mediabug.la
mod_mediabug_la-mod_mediabug.lo
mod_mediabug_la-mod_mediabug.o
